<!DOCTYPE html>
<html>
  <head>
    <title>Pigame</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="site">
     

      <ul class="hmenu">
        <%= link_to "Правила гри", root_path  %>
        <%= link_to "Нова гра", games_path %>
      </ul>
      <p class="alert"><%= alert %></p>
     

      <div class="content"><div class="content-wrapper"><%= yield %></div>
      </div>
    </div>
    <div class="footer", style="color: #ffbdbd">&copy;  2011</div>
  </body>
</html>
